{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/qrcode_list.css' %}">
{% endblock %}

{% block content %}
<h1>QR Codes for Locations</h1>
<div class="qrcode-container">
    {% for location in locations %}
    <div class="qrcode-item">
        <h2>{{ location.name }}</h2>
        <img src="{% url 'location_qrcode' location.id %}" alt="QR Code for {{ location.name }}">
        <p>Total Scans: {{ location.scans.count }}</p>
        <p><a href="{% url 'location_qrcode' location.id %}" download="qrcode_{{ location.name }}.png" class="button">Download</a></p>
    </div>
    {% empty %}
    <p>No locations available. Please add locations in the admin panel.</p>
    {% endfor %}
</div>
{% endblock %}
